@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --static-black: #171717;
  --static-white: #ffffff;

  --strong-950: #171717;

  --bg-surface-800: #262626;
  --bg-sub-300: #d1d1d1;
  --bg-soft-200: #ebebeb;
  --bg-weak-50: #f7f7f7;
  --bg-white-0: #ffffff;

  --text-sub-600: #5c5c5c;
  --text-soft-400: #a3a3a3;
  --text-disabled-300: #d1d1d1;
  --text-white-0: #ffffff;

  /* Stroke Color Tokens */
  --stroke-sub-300: #d1d1d1;
  --stroke-soft-200: #ebebeb;
  --stroke-white-0: #ffffff;

  /* Icon Color Tokens */
  --icon-sub-600: #5c5c5c;
  --icon-soft-400: #a3a3a3;
  --icon-disabled-300: #d1d1d1;
  --icon-white-0: #ffffff;

  /* Faded State Tokens */
  --faded-dark: #262626;
  --faded-base: #7b7b7b;
  --faded-light: #ebebeb;
  --faded-lighter: #f5f5f5;

  /* Information State Tokens */
  --information-dark: #122368;
  --information-base: #335cff;
  --information-light: #c0d5ff;
  --information-lighter: #ebf1ff;

  /* Warning State Tokens */
  --warning-dark: #71330a;
  --warning-base: #fa7319;
  --warning-light: #ffd9c0;
  --warning-lighter: #fff3eb;

  /* Error State Tokens */
  --error-dark: #681219;
  --error-base: #fb3748;
  --error-light: #ffc0c5;
  --error-lighter: #ffebec;

  /* Success State Tokens */
  --success-dark: #0b4627;
  --success-base: #1fc16b;
  --success-light: #c2f5da;
  --success-lighter: #e0faec;

  /* Away State Tokens */
  --away-dark: #624c18;
  --away-base: #f6b51e;
  --away-light: #ffecc0;
  --away-lighter: #fffaeb;

  /* Feature State Tokens */
  --feature-dark: #351a75;
  --feature-base: #7d52f4;
  --feature-light: #cac0ff;
  --feature-lighter: #efebff;

  /* Verified State Tokens */
  --verified-dark: #124b68;
  --verified-base: #47c2ff;
  --verified-light: #c0eaff;
  --verified-lighter: #ebf8ff;

  /* Highlighted State Tokens */
  --highlighted-dark: #68123d;
  --highlighted-base: #fb4ba3;
  --highlighted-light: #ffc0df;
  --highlighted-lighter: #ffebf4;

  /* Stable State Tokens */
  --stable-dark: #0b463e;
  --stable-base: #22d3bb;
  --stable-light: #c2f5ee;
  --stable-lighter: #e4fbf8;

  /* SHAD CN */
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);

    --static-black: #171717;
    --static-white: #ffffff;

    --strong-950: #171717;

    --bg-surface-800: #262626;
    --bg-sub-300: #d1d1d1;
    --bg-soft-200: #ebebeb;
    --bg-weak-50: #f7f7f7;
    --bg-white-0: #ffffff;

    --text-sub-600: #5c5c5c;
    --text-soft-400: #a3a3a3;
    --text-disabled-300: #d1d1d1;
    --text-white-0: #ffffff;

    /* Stroke Color Tokens */
    --stroke-sub-300: #d1d1d1;
    --stroke-soft-200: #ebebeb;
    --stroke-white-0: #ffffff;

    /* Icon Color Tokens */
    --icon-sub-600: #5c5c5c;
    --icon-soft-400: #a3a3a3;
    --icon-disabled-300: #d1d1d1;
    --icon-white-0: #ffffff;

    /* Faded State Tokens */
    --faded-dark: #262626;
    --faded-base: #7b7b7b;
    --faded-light: #ebebeb;
    --faded-lighter: #f5f5f5;

    /* Information State Tokens */
    --information-dark: #122368;
    --information-base: #335cff;
    --information-light: #c0d5ff;
    --information-lighter: #ebf1ff;

    /* Warning State Tokens */
    --warning-dark: #71330a;
    --warning-base: #fa7319;
    --warning-light: #ffd9c0;
    --warning-lighter: #fff3eb;

    /* Error State Tokens */
    --error-dark: #681219;
    --error-base: #fb3748;
    --error-light: #ffc0c5;
    --error-lighter: #ffebec;

    /* Success State Tokens */
    --success-dark: #0b4627;
    --success-base: #1fc16b;
    --success-light: #c2f5da;
    --success-lighter: #e0faec;

    /* Away State Tokens */
    --away-dark: #624c18;
    --away-base: #f6b51e;
    --away-light: #ffecc0;
    --away-lighter: #fffaeb;

    /* Feature State Tokens */
    --feature-dark: #351a75;
    --feature-base: #7d52f4;
    --feature-light: #cac0ff;
    --feature-lighter: #efebff;

    /* Verified State Tokens */
    --verified-dark: #124b68;
    --verified-base: #47c2ff;
    --verified-light: #c0eaff;
    --verified-lighter: #ebf8ff;

    /* Highlighted State Tokens */
    --highlighted-dark: #68123d;
    --highlighted-base: #fb4ba3;
    --highlighted-light: #ffc0df;
    --highlighted-lighter: #ffebf4;

    /* Stable State Tokens */
    --stable-dark: #0b463e;
    --stable-base: #22d3bb;
    --stable-light: #c2f5ee;
    --stable-lighter: #e4fbf8;

    /* SHAD CN */
    --radius: 0.625rem;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
}

@theme inline {
  /* Base colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Static colors */
  --color-static-black: var(--static-black);
  --color-static-white: var(--static-white);

  --color-strong-950: var(--strong-950);

  --color-surface-800: var(--bg-surface-800);
  --color-sub-300: var(--bg-sub-300);
  --color-soft-200: var(--bg-soft-200);
  --color-weak-50: var(--bg-weak-50);
  --color-white-0-bg: var(--bg-white-0);
  /* They have the same var name as the text so I suffixed them with bg */

  /* Text colors */
  --color-sub-600: var(--text-sub-600);
  --color-soft-400: var(--text-soft-400);
  --color-disabled-300: var(--text-disabled-300);
  --color-white-0: var(--text-white-0);

  /* Stroke colors */
  --color-stroke-sub-300: var(--stroke-sub-300);
  --color-stroke-soft-200: var(--stroke-soft-200);
  --color-stroke-white-0: var(--stroke-white-0);

  /* Icon colors */
  --color-icon-sub-600: var(--icon-sub-600);
  --color-icon-soft-400: var(--icon-soft-400);
  --color-icon-disabled-300: var(--icon-disabled-300);
  --color-icon-white-0: var(--icon-white-0);

  /* State colors */
  --color-faded-dark: var(--faded-dark);
  --color-faded-base: var(--faded-base);
  --color-faded-light: var(--faded-light);
  --color-faded-lighter: var(--faded-lighter);

  --color-information-dark: var(--information-dark);
  --color-information-base: var(--information-base);
  --color-information-light: var(--information-light);
  --color-information-lighter: var(--information-lighter);

  --color-warning-dark: var(--warning-dark);
  --color-warning-base: var(--warning-base);
  --color-warning-light: var(--warning-light);
  --color-warning-lighter: var(--warning-lighter);

  --color-error-dark: var(--error-dark);
  --color-error-base: var(--error-base);
  --color-error-light: var(--error-light);
  --color-error-lighter: var(--error-lighter);

  --color-success-dark: var(--success-dark);
  --color-success-base: var(--success-base);
  --color-success-light: var(--success-light);
  --color-success-lighter: var(--success-lighter);

  --color-away-dark: var(--away-dark);
  --color-away-base: var(--away-base);
  --color-away-light: var(--away-light);
  --color-away-lighter: var(--away-lighter);

  --color-feature-dark: var(--feature-dark);
  --color-feature-base: var(--feature-base);
  --color-feature-light: var(--feature-light);
  --color-feature-lighter: var(--feature-lighter);

  --color-verified-dark: var(--verified-dark);
  --color-verified-base: var(--verified-base);
  --color-verified-light: var(--verified-light);
  --color-verified-lighter: var(--verified-lighter);

  --color-highlighted-dark: var(--highlighted-dark);
  --color-highlighted-base: var(--highlighted-base);
  --color-highlighted-light: var(--highlighted-light);
  --color-highlighted-lighter: var(--highlighted-lighter);

  --color-stable-dark: var(--stable-dark);
  --color-stable-base: var(--stable-base);
  --color-stable-light: var(--stable-light);
  --color-stable-lighter: var(--stable-lighter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Typography Styles */

/* Headings */

@utility heading-1 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.01em;
}

@utility heading-2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
}

@utility heading-3 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
}

@utility heading-4 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.01em;
}

@utility heading-5 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

/* Labels and Paragraphs */

@utility label-1 {
  /* should also serve as paragraph-1 */
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.015em;
}

@utility label-2 {
  /* should also serve as paragraph-2 */
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.015em;
}

@utility label-3 {
  /* should also serve as paragraph-3 */
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.015em;
}

@utility label-4 {
  /* should also serve as paragraph-4 */
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.015em;
}

@utility label-5 {
  /* should also serve as paragraph-5 */
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.015em;
}
